@model wsInformante.Models.APP_VI_CONTRIBUTIONS_FILES

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>APP_VI_CONTRIBUTIONS_FILES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PATH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PATH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTENT_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTENT_TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APP_VI_CONTRIBUTIONS.DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APP_VI_CONTRIBUTIONS.DESCRIPTION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CONTRIBUTION_FILE_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
